{% extends 'base.html.twig' %}

{% block title %}Edit Lieu{% endblock %}

{% block body %}
    <h1 class="text-muted">Modifier un lieu</h1>

    {{ include('lieu/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('lieu_index') }}"><button class="btn bouton">Retour à la liste </button></a>

    {{ include('lieu/_delete_form.html.twig') }}
{% endblock %}
