{% extends 'base.html.twig' %}

{% block title %}New Site{% endblock %}

{% block body %}
    <h1 class="text-muted">Create new Site</h1>

    {{ include('site/_form.html.twig') }}

    <a href="{{ path('site_index') }}"><button class="btn bouton">Retour à la liste</button></a>
{% endblock %}
