{% extends 'base.html.twig' %}

{% block title %}Connexion !{% endblock %}

{% block body %}

    <div class="container-fluid">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}


            <h1 class="text-muted">Bienvenue sur Sortir.com</h1>
            <br>
            <h2 class="text-muted">Connexion</h2>
            <div class="container-fluid " id="containerLogin" >
                <div class="row">
                    <div class="col-sm-auto col-md-6">
                        <div class="form-group ">
                            <label for="inputEmail" class="">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control" placeholder="" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-auto col-md-6">
                        <div class="form-group ">
                            <label for="inputPassword" class="">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                   placeholder="" required>
                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </div>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>


                <button class="btn bouton" type="submit">
                    Connexion
                </button>
            </div>
        </form>
    </div>






{% endblock %}
