{# templates/bundles/TwigBundle/Exception error500.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}

    <p>
        <img class="img-fluid mx-auto" src="{{ asset('build/images/error500.png') }}" alt="Noooo"/>
    </p>
{% endblock %}