{# templates/bundles/TwigBundle/Exception error404.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <h1>Oups ! cette page n'existe pas</h1><br>

    <p>
        <img  class="rounded mx-auto d-block" src="{{ asset('build/images/error404.jpg') }}" alt="Noooo"/>
    </p>
{% endblock %}