{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block body %}
    <h1 class="text-muted">Create new Sortie</h1>

    {{ include('sortie/_form.html.twig') }}

    <a href="{{ path('sortie_index') }}"><button class="btn bouton">Retour</button></a>
{% endblock %}
